{% extends 'base.html.twig' %}


{% block body %}


<div class="flex-center full-height">
    <div class="content">

    <div class="jumbotron">
     <h2 class="display-3 text-primary">Homme vs Femme</h2>

        
        
        <p><a class="btn btn-primary" href="{{path('jeu1')}}">Taux d'emploi H/F par naissances</a><br>
        <a class="btn btn-primary" href="{{path('jeu2')}}">Taux de réussite aux diplômes par rapport aux taux de demandeurs d'emploi</a><br>
        <a class="btn btn-primary" href="{{path('jeu3')}}">Niveaux d'anxiété et de dépression H/F par rapport au nombre de cas Covid19 positifs</a>
        <a class="btn btn-primary" href="{{path('jeu5')}}">Respect des mesures d'hygiène de la part des H/F lors de la pandémie covid19</a>
        <a class="btn btn-primary" href="{{path('jeu4')}}">Salaires nets mensuels H/F comparé aux taux de réussite en enseignement supérieur</a></p>
        <p>Un travail sous la diréction de M.Desmontils Emmanuel</p>
        <p>BOULID Hamza<br>CHAKER Mehdi<br>Thiziri Hadji</p>

        

        
        
    </div>
    </div>
        
    </div>
</div>

{% endblock %}
